.app {
    margin-left: 10ch !important;
    margin-right: 1ch !important;
}

.head {
    margin: 2%;
}

.list-text {
    max-width: 80%;
}

.images {
    width: 60px !important;
    height: 60px !important;
}